@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500);

body,
textarea,
input {
  font: 13px 'Source Code Pro', sans-serif;
  font-weight: 500;
}

h1 {
  text-align: center;
  margin-bottom: 0;
  padding-left: 10px;
  color: #DE555B;
}

.chat {
  max-width: 400px;
  margin: 0 auto;
}

.chat-messages,
.chat textarea,
.chat-name {
  border: 1px solid #BBB;
}

.chat-messages {
  width: 100%;
  height: 400px;
  overflow: hidden;
  padding: 10px;
}

.chat-message {
  margin-bottom: 20px;
}

.chat-name {
  width: 100%;
  padding: 10px;
  border-bottom: 0;
  margin: 0;
}

.chat textarea {
  width: 100%;
  padding: 10px;
  margin: 0;
  border-top: 0;
}

.chat-status {
  color: #7DADDC;
}

.chat textarea,
.chat-name {
  outline: none;
}