@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

html,
body,
#container,
.chat {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body,
textarea,
input {
  font: 14px 'Inconsolata', sans-serif;
  font-weight: 500;
  margin: 0;
}

.chat {
  width: calc(80% - 20px);
  max-width: 760px;
  height: 100%;
  margin: 0 auto;
}

input {
  background: #FFF;
  transition: background-color 0.3s ease;
}

input:focus,
textarea { 
  background-color: #17577E;
  color: #DDD;
}

h1 {
  margin-left: 0;
  margin-bottom: 7px;
  color: #DE555B;
}

.chat-messages {
  width: calc(100% - 15px);
  height: calc(80% - 100px);
  overflow-y: auto;
  padding: 10px 10px 10px 0;
  background: rgba(255,255,255,.3);
}

.chat-messages {
  margin-bottom: 20px;
}

.chat-message:last-of-type {
  margin-bottom: 0px;
}

.chat-name {
  width: 60%;
  padding: 10px 10px 10px 10px;
  margin: 0;
  background: #DDD;
}

.chat textarea {
  width: 60%;
  padding: 10px;
  margin: 0;
  background-color: #DDD;
  color: #333;
  transition: background-color 0.3s ease;
}

.chat textarea:focus { 
  background-color: #17577E;
  color: #DDD;
}

.chat-status {
  color: #7DADDC;
}

.chat textarea,
.chat-name {
  outline: none;
  border: 0;
}

@media (max-width: 767px) {
  .chat-name,
  .chat textarea {
    width: 100%;
  }

  .chat {
    width: 90%;
  }
}